---
import Layout from "../components/Layout.astro"
---
<Layout title={"Blog"}>
		<main>
			<article class="text-center pb-5">
				<h1 class="text-3xl pb-5 font-extrabold m-4">Blogs</h1>
				<section class="bg-white rounded-lg my-3 max-w-3xl p-4 mx-auto">
					<p class="text-gray-500 text-sm text-right">FEBRUARY 23 2022</p>
					<h3 class="font-bold text-xl pb-3 text-left">February major updates</h3>
					<p class="text-left text-gray-700">Major release with most requested and awaited features ...</p>
				</section>
				<section class="bg-white rounded-lg my-3 max-w-3xl p-4 mx-auto">
					<p class="text-gray-500 text-sm text-right">January 15 2022</p>
					<h3 class="font-bold text-xl pb-3 text-left">January bonus </h3>
					<p class="text-left text-gray-700">Major release with most requested and awaited features ...</p>
				</section>

			</article>
		</main>

</Layout>
