---
import Layout from "../components/Layout.astro"
---
<Layout title={'Home'}>

		<main>
			<article class="text-center pb-5">
				<h1 class="text-3xl pb-5 font-extrabold m-4">Use this great tool</h1>
				<p class="pb-5">Tag line that describes the tool</p>
				<button class="bg-green-600 text-white p-3 text-xl font-bold rounded-lg">Sign up now</button>
			</article>
		</main>
		<article>
			<h1 class="text-2xl pb-5 font-extrabold mt-4">Everything you need know about the app</h1>
			<p> A great list of things it allows you to do</p>
			<section class="grid grid-cols-1 m-4 gap-8 md:grid-cols-2 max-w-3xl mx-auto"> 
				<section class="bg-white p-4 rounded-lg mx-4">
					<h2 class="text-xl pb-2 font-bold text-gray-600">First benefit</h2>
					<p>You can save time</p>
				</section>
				<section class="bg-white p-4 rounded-lg  mx-4">
					<h2 class="text-xl pb-2 font-bold text-gray-600">Second benefit</h2>
					<p>You can save money</p>
				</section>
				<section class="bg-white p-4 rounded-lg  mx-4">
					<h2 class="text-xl pb-2 font-bold text-gray-600">Third benefit</h2>
					<p>You can do X</p>
				</section>
				<section class="bg-white p-4 rounded-lg  mx-4">
					<h2 class="text-xl pb-2 font-bold text-gray-600">Fourth benefit</h2>
					<p>You can do Y</p>
				</section>
			</section>
		</article>
</Layout>