---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>My Product</title>
	</head>
	<body class="bg-gray-200 text-center">
	<div class="min-h-full">
		<nav>
			<ul class="flex justify-center py-4 space-x-4">
				<li class=" text-black  text-sm font-extrabold"><a href="/">Home</a></li>
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/blog">Blog</a></li>
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/login">Login</a></li>
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/pricing">Pricing</a></li>
				<li class=" text-white text-sm font-bold hover:bg-blue-600 bg-blue-500 p-2 -mt-2 rounded-lg"><a href="/signup">Sign up</a></li>
			</ul>
		</nav>
		<main>
			<article class="text-center pb-5">
				<h1 class="text-3xl pb-5 font-extrabold m-4">Use this great tool</h1>
				<p class="pb-5">Tag line that describes the tool</p>
				<button class="bg-green-600 text-white p-3 text-xl font-bold rounded-lg">Sign up now</button>
			</article>
		</main>
		<article>
			<h1 class="text-2xl pb-5 font-extrabold mt-4">Everything you need know about the app</h1>
			<p> A great list of things it allows you to do</p>
			<section class="grid grid-cols-1 m-4 gap-8 md:grid-cols-2 max-w-3xl mx-auto"> 
				<section class="bg-white p-4 rounded-lg mx-4">
					<h2 class="text-xl pb-2 font-bold text-gray-600">First benefit</h2>
					<p>You can save time</p>
				</section>
				<section class="bg-white p-4 rounded-lg  mx-4">
					<h2 class="text-xl pb-2 font-bold text-gray-600">Second benefit</h2>
					<p>You can save money</p>
				</section>
				<section class="bg-white p-4 rounded-lg  mx-4">
					<h2 class="text-xl pb-2 font-bold text-gray-600">Third benefit</h2>
					<p>You can do X</p>
				</section>
				<section class="bg-white p-4 rounded-lg  mx-4">
					<h2 class="text-xl pb-2 font-bold text-gray-600">Fourth benefit</h2>
					<p>You can do Y</p>
				</section>
			</section>
		</article>

		<footer class="pt-5 border-t-4 border-gray-300 mt-16">
		<nav>
			<ul class="flex justify-center py-4 space-x-4">
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/">Home</a></li>
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="#features">Features</a></li>				
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/pricing">Pricing</a></li>
			</ul>
		</nav>
		<p class="text-gray-400 text-center pt-4"> &copy; 2021 Great Tool : All rights reserved</p>
		</footer>
	</div>
	</body>
</html>