---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Pricing</title>
	</head>
	<body class="bg-gray-200 text-center">
	<div class="min-h-full">
		<nav>
			<ul class="flex justify-center py-4 space-x-4">
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/">Home</a></li>
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/blog">Blog</a></li>
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/login">Login</a></li>
				<li class=" text-black  text-sm font-extrabold"><a href="/pricing">Pricing</a></li>
				<li class=" text-white text-sm font-bold hover:bg-blue-600 bg-blue-500 p-2 -mt-2 rounded-lg"><a href="/signup">Sign up</a></li>
			</ul>
		</nav>
		<main>
			<article class="text-center pb-5">
				<h1 class="text-3xl pb-5 font-extrabold m-4">Pricing plans</h1>
                <section class="grid grid-cols-1 md:grid-cols-2 max-w-3xl mx-auto gap-4">                
                        <section class="bg-white rounded-lg pb-12 pt-6 mx-2">
                            <h2 class="text-xl font-extrabold text-gray-500">Basic plan</h2>
                            <h2 class="text-2xl font-extrabold">@ $29/month</h2>
                            <ul class="text-left mx-12 ">
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> Access to service</li>
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> Email Support</li>
                            </ul>                
                        </section>
                        <section class="bg-white rounded-lg pb-12 pt-6 mx-2">
                            <h2 class="text-xl font-extrabold text-gray-500">Pro plan</h2>
                            <h2 class="text-2xl font-extrabold">@ $59/month</h2>
                            <ul class="text-left mx-12 ">
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> Access to service</li>
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> on call Support</li>
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> Pro only features</li>
                            </ul>                
                        </section>
                </section>
				<button class="bg-green-600 w-full text-white width py-1 text-xl font-bold max-w-3xl rounded-lg mt-6">Sign up now</button>
			</article>
		</main>
		<footer class="pt-5 border-t-4 border-gray-300 mt-16">
		<nav>
			<ul class="flex justify-center py-4 space-x-4">
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/">Home</a></li>
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="#features">Features</a></li>				
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/pricing">Pricing</a></li>
			</ul>
		</nav>
		<p class="text-gray-400 text-center pt-4"> &copy; 2021 Great Tool : All rights reserved</p>
		</footer>
	</div>
	</body>
</html>