---
import Layout from "../components/Layout.astro"
---
<Layout title={'Pricing'}>
		<main>
			<article class="text-center pb-5">
				<h1 class="text-3xl pb-5 font-extrabold m-4">Pricing plans</h1>
                <section class="grid grid-cols-1 md:grid-cols-2 max-w-3xl mx-auto gap-4">                
                        <section class="bg-white rounded-lg pb-12 pt-6 mx-2">
                            <h2 class="text-xl font-extrabold text-gray-500">Basic plan</h2>
                            <h2 class="text-2xl font-extrabold">@ $29/month</h2>
                            <ul class="text-left mx-12 ">
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> Access to service</li>
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> Email Support</li>
                            </ul>                
                        </section>
                        <section class="bg-white rounded-lg pb-12 pt-6 mx-2">
                            <h2 class="text-xl font-extrabold text-gray-500">Pro plan</h2>
                            <h2 class="text-2xl font-extrabold">@ $59/month</h2>
                            <ul class="text-left mx-12 ">
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> Access to service</li>
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> on call Support</li>
                                <li> <strong class="text-green-600 font-bold text-3xl">&check;</strong> Pro only features</li>
                            </ul>                
                        </section>
                </section>
				<button class="bg-green-600 w-full text-white width py-1 text-xl font-bold max-w-3xl rounded-lg mt-6">Sign up now</button>
			</article>
		</main>
</Layout>
