---
const {title} = Astro.props
const path = new URL(Astro.request.url).pathname 
console.log(path)
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body class="bg-gray-200 text-center">
	<div class="min-h-full">
		<nav>
			<ul class="flex justify-center py-4 space-x-4">
				<li class={path==="/"? " text-black  text-sm font-extrabold" : " text-gray-400 hover:text-black text-sm font-bold"}><a href="/">Home</a></li>
				<li class={path==="/blog"? " text-black  text-sm font-extrabold" : " text-gray-400 hover:text-black text-sm font-bold"}><a href="/blog">Blog</a></li>
				<li class={path==="/login"? " text-black  text-sm font-extrabold" : " text-gray-400 hover:text-black text-sm font-bold"}><a href="/login">Login</a></li>
				<li class={path==="/pricing"? " text-black  text-sm font-extrabold" : " text-gray-400 hover:text-black text-sm font-bold"}><a href="/pricing">Pricing</a></li>
				<li class=" text-white text-sm font-bold hover:bg-blue-600 bg-blue-500 p-2 -mt-2 rounded-lg"><a href="/signup">Sign up</a></li>
			</ul>
		</nav>
        <slot />
		<footer class="pt-5 border-t-4 border-gray-300 mt-16">
		<nav>
			<ul class="flex justify-center py-4 space-x-4">
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/">Home</a></li>
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="#features">Features</a></li>				
				<li class=" text-gray-400 hover:text-black text-sm font-bold"><a href="/pricing">Pricing</a></li>
			</ul>
		</nav>
		<p class="text-gray-400 text-center pt-4"> &copy; 2021 Great Tool : All rights reserved</p>
		</footer>
	</div>
	</body>
</html>